<header id="header" class="jumbotron">
    <h1>todos</h1>
        <input id="new-todo" class="form-control"
               type="text" placeholder="What needs to be done?"
               autofocus>
</header>
<section id="main" class="well well-lg">
    <ul id="todo-list" class="list-group">
    </ul>
</section>
